@import url("https://use.typekit.net/jck0zpk.css");

* { box-sizing: border-box }

body {
	margin: 0;
	padding: 25px;
	font-family: aileron, sans-serif;
	color: rgb(242, 254, 255);
}

@font-face {
	font-family: ia-quattro;
	src: url(iAWriterQuattroS-Bold.woff);
}

@font-face {
	font-family: aileron;
	src: url(Aileron-Bold.otf);
}

.poster {
	background-image: url("background-2.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 50%;
	margin: 0 auto;
	padding: 5px;
}

@media (max-width: 850px) {
  .poster {
    width: 90%;
  }
}

.wrapper {
	padding: 0px 20px 0px 20px;
	font-size: 20px;
}

@media (max-width: 1200px) {
  .wrapper {
  	font-size: 14px;
  }
}

.location {
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
	color: rgb(242, 254, 255);
}

@media (max-width: 768px) {
  .location {
  	padding-top: 20px;
  }
}

.date-time {
	display: flex;
	justify-content: space-between;
	margin-top: -30px;
	margin-bottom: 20px;
	color: rgb(242, 254, 255);
}

.fkj {
	font-size: 18vw;
	color: white;
	font-family: soda-script, sans-serif; 
	font-weight: 700; 
	font-style: normal; 
	transform: rotate(-10deg);
	margin-top: -20px;
	color: rgb(242, 254, 255);
}

@media (max-width: 850px) {
  .fkj {
  	font-size: 40vw;
  }
}

.title {
	font-size: 6vw;
	text-align: right;
	padding-top: 140px;
}

@media (max-width: 768px) {
  .title {
  	font-size: 10vw;
  	padding-top: 70px;
  }

